
@{
    ViewData["Title"] = "Deneme";
}

<h1>Deneme page</h1>
<h2> City name : @ViewBag.Sehir1</h2>
<h2> City Id : @ViewBag.Sehir2</h2>
<h2> City Population : @ViewBag.Sehir3</h2>
<h2> City color: @ViewBag.Sehir4</h2>
<h2> City color : @ViewBag.Sehir5</h2>


